html, body, #app {
	height: 100%;
	font-size: 100%;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Hind', sans-serif;
	font-weight: 300;
	color: #3A3A3A;
}

li {
	list-style-position: inside;
	list-style-type: none;
}

.paneHeader {
	width: inherit;
	position: fixed;
	height: 100px;
	z-index: 1;
	box-sizing: border-box;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	border-bottom: 1px solid #DDD;
}

h2 {
	font-size: 2rem;
	font-family: 'Hind', sans-serif;
	color: #AAA;
}

.paneContent {
	width: 100%;
	position: relative;
	height: calc(100% - 100px);
	top: 100px;
	padding-left: 40px;
	padding-right: 40px;
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

input[type="submit"], button {
	display: block;
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 15px;
	border: none;
	border-radius: 5px;
	background-color: #44C8F1;
}

input[type="submit"], input[type="submit"] *, button, button * {
	color: #FFF;
	font-weight: 600;
}

button:not(.submit) {
	background-color: white;
	border: 1px solid #AAA;
	color: inherit;
	margin-top: 0;
}

button.danger {
	background-color: #FF5763;
	color: #FFF;
	border: 0;
}

input[type="submit"]:disabled, button:disabled {
	background-color: #AAA;
}

.tip {
	width: 50%;
	font-size: 0.8125rem;
	color: #999;
}

.tip.error {
	color: #FF5763;
	font-weight: 400;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }