html, body, #app {
	height: 100%;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Hind', sans-serif;
	font-weight: 300;
}

.paneHeader {
	width: inherit;
	position: fixed;
	height: 90px;
	z-index: 1;
	border-bottom: 1px solid #EEE;
	box-sizing: border-box;
	padding: 20px;
	white-space: nowrap;
	overflow: hidden;
}

.paneContent {
	width: 100%;
	position: relative;
	height: calc(100% - 90px);
	top: 90px;
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
}

li {
	list-style-position: inside;
	list-style-type: none;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }