html, body, #app {
	height: 100%;
}

* {
	padding: 0;
	margin: 0;
}

.paneHeader {
	width: 100%;
	position: fixed;
	height: 60px;
	z-index: 1;
	background-color: lightskyblue;
}

.paneContent {
	width: 100%;
	position: relative;
	height: calc(100% - 60px);
	top: 60px;
	overflow-y: auto;
	background-color: lightcyan;
}